################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZipTest/obj/Debug
/.vs/ZipTest/v15/.suo
/ZipTest/bin/Debug
/ZipTest/bin/Debug
